<i>noun</i>: 통제력 [통ː제력], 통제 [통ː제], 컨트롤 [], 지배력 [지배력], 좌지우지 [좌ː지우지], 조종 [조종], 조절 [조절], 제어 [제ː어], 제구 [제ː구], 장악 [장ː악], 억제 [억쩨], 관제 [관제] <i>verb</i>: 흔들다 [흔들다], 휘두르다 [휘두르다], 판치다 [판치다], 틀어잡다 [트러잡따], 통제하다 [통ː제하다], 컨트롤하다 [], 참다 [참ː따], 주체하다 [주체하다], 주무르다 [주무르다], 조종하다 [조종하다], 조절하다 [조절하다], 제어하다 [제ː어하다], 예속시키다 [예ː속씨키다], 억제하다 [억쩨하다], 억누르다 [엉누르다], 손대다 [손대다], 부리다 [부리다], 뒤흔들다 [뒤흔들다], 다잡다 [다잡따], 누르다 [누ː르다], 내두르다 [내ː두르다], 가누다 [가누다] <br>
<ul>
<li><i>noun</i><br>
<dt><span>&#8227;&nbsp;</span>통제력 [통ː제력]</dt><br>
<dd>control; control power</dd><br>
<dd>어떤 방침이나 목적에 따라 행위를 하지 못하게 막을 수 있는 힘.</dd><br>
<dd>The power with which one can prohibit someone from doing something, based on a certain policy or purpose.</dd><br>
<dt><span>&#8227;&nbsp;</span>통제 [통ː제]</dt><br>
<dd>1. control; restriction</dd><br>
<dd>어떤 방침이나 목적에 따라 행위를 하지 못하게 막음.</dd><br>
<dd>An act of prohibiting someone from doing something, based on a certain policy or purpose.</dd><br>
<dd>2. control; regulation</dd><br>
<dd>권력이나 힘으로 언론이나 경제 활동 등을 하지 못하게 막음.</dd><br>
<dd>An act of obstructing the press or economic activity, etc., using power or force.</dd><br>
<dt><span>&#8227;&nbsp;</span>컨트롤 []</dt><br>
<dd>1. control</dd><br>
<dd>자기 뜻대로 다루거나 조절하는 일.</dd><br>
<dd>An act of handling or adjusting something as one likes.</dd><br>
<dd>2. control</dd><br>
<dd>야구에서, 투수가 원하는 대로 공을 던지는 일.</dd><br>
<dd>In baseball, an act of throwing a ball as a pitcher likes.</dd><br>
<dt><span>&#8227;&nbsp;</span>지배력 [지배력]</dt><br>
<dd>1. control</dd><br>
<dd>사람이나 집단을 자신의 뜻대로 복종하게 하여 다스리거나 차지하는 힘.</dd><br>
<dd>The authority to make other persons or groups obey, and govern or take possession of them.</dd><br>
<dd>2. control</dd><br>
<dd>어떤 요소가 사람이나 집단의 생각이나 행동에 크게 영향을 끼치는 힘.</dd><br>
<dd>The power of a certain factor to strongly influence the thoughts or behaviors of people or a group.</dd><br>
<dt><span>&#8227;&nbsp;</span>좌지우지 [좌ː지우지]</dt><br>
<dd>push around; boss around; control</dd><br>
<dd>이리저리 제 마음대로 휘두르거나 다룸.</dd><br>
<dd>To push around or handle someone as one pleases.</dd><br>
<dt><span>&#8227;&nbsp;</span>조종 [조종]</dt><br>
<dd>1. operation; driving; flying</dd><br>
<dd>비행기나 배 같은 기계를 다루어 움직이게 함.</dd><br>
<dd>The act of handling a machine such as an airplane, ship, etc., to make it move.</dd><br>
<dd>2. control</dd><br>
<dd>남을 자기 마음대로 다루어 부림.</dd><br>
<dd>The act of handling and swaying others at will.</dd><br>
<dt><span>&#8227;&nbsp;</span>조절 [조절]</dt><br>
<dd>control</dd><br>
<dd>균형에 맞게 바로잡거나 상황에 알맞게 맞춤.</dd><br>
<dd>The act of correcting to a balanced state or adjusting to the circumstances.</dd><br>
<dt><span>&#8227;&nbsp;</span>제어 [제ː어]</dt><br>
<dd>1. control</dd><br>
<dd>상대를 눌러 자기 마음대로 함.</dd><br>
<dd>The act of getting one's way by subduing the other person.</dd><br>
<dd>2. control</dd><br>
<dd>감정이나 생각을 막거나 누름.</dd><br>
<dd>The act of suppressing or restraining one's emotions or thoughts.</dd><br>
<dd>3. control</dd><br>
<dd>기계나 시설, 체계 등이 알맞게 움직이도록 조절함.</dd><br>
<dd>The act of adjusting a machine, facility, system, etc., in order to make it work properly.</dd><br>
<dt><span>&#8227;&nbsp;</span>제구 [제ː구]</dt><br>
<dd>control; ball control</dd><br>
<dd>야구에서, 투수가 원하는 대로 공을 던지는 일.</dd><br>
<dd>In baseball, the act of a pitcher throwing the ball at an intended spot.</dd><br>
<dt><span>&#8227;&nbsp;</span>장악 [장ː악]</dt><br>
<dd>domination; control</dd><br>
<dd>무엇을 마음대로 할 수 있게 됨.</dd><br>
<dd>The state of being able to do things as one pleases.</dd><br>
<dt><span>&#8227;&nbsp;</span>억제 [억쩨]</dt><br>
<dd>1. suppression; control; repression</dd><br>
<dd>감정이나 욕망, 충동적 행동 등을 내리눌러서 일어나지 못하게 함.</dd><br>
<dd>The act of suppressing feelings, desires, impulses, etc., to stop them from occurring.</dd><br>
<dd>2. control; restraint; suppression</dd><br>
<dd>정도나 한도를 넘어서 나아가려는 것을 억눌러 멈추게 함.</dd><br>
<dd>The act of suppressing something to stop it from exceeding a level or limit.</dd><br>
<dt><span>&#8227;&nbsp;</span>관제 [관제]</dt><br>
<dd>control; management</dd><br>
<dd>기관이나 국가 등이 어떤 일을 관리하여 통제함.</dd><br>
<dd>The state or manner of being managed and controlled by an institution or the government.</dd><br>
</li>
<li><i>verb</i><br>
<dt><span>&#8227;&nbsp;</span>흔들다 [흔들다]</dt><br>
<dd>1. wave; sway; flap; wag; shake</dd><br>
<dd>무엇을 좌우, 앞뒤로 자꾸 움직이게 하다.</dd><br>
<dd>To make something move from side to side and back and forth, repeatedly.</dd><br>
<dd>2. shake; rock; ring</dd><br>
<dd>굉장히 큰 소리나 충격이 물체나 공간을 울리게 하다.</dd><br>
<dd>To make an extremely loud sound or shock echo through an object or across a space.</dd><br>
<dd>3. shake; sway</dd><br>
<dd>기존의 질서나 권위, 평화로운 상태에 있던 것에 큰 움직임이나 충격을 주다.</dd><br>
<dd>To shock the current order or authority, or something in a state of peace, or cause it to make a big move.</dd><br>
<dd>4. sway; shake up</dd><br>
<dd>사람의 마음을 움직이게 하거나 약하게 하다.</dd><br>
<dd>To move one's heart or weaken one's will.</dd><br>
<dd>5. sway; control</dd><br>
<dd>무엇을 자기 마음대로 움직이게 하다.</dd><br>
<dd>To make something move as one pleases.</dd><br>
<dt><span>&#8227;&nbsp;</span>휘두르다 [휘두르다]</dt><br>
<dd>1. swing; wield; brandish</dd><br>
<dd>이리저리 마구 흔들다.</dd><br>
<dd>To swing something around wildly from side to side.</dd><br>
<dd>2. sway; confuse; muddle</dd><br>
<dd>사람을 정신을 차릴 수 없도록 얼떨떨하게 하다.</dd><br>
<dd>To confuse someone to make him/her lose control of himeself/herself.</dd><br>
<dd>3. control; manage</dd><br>
<dd>사람이나 일을 자기 마음대로 마구 부리거나 다루다.</dd><br>
<dd>To handle or treat a person or task in one's own way.</dd><br>
<dt><span>&#8227;&nbsp;</span>판치다 [판치다]</dt><br>
<dd>1. excel</dd><br>
<dd>여러 사람이 어울린 판에서 제일 잘하다.</dd><br>
<dd>To do best in a place or event where many people gather or do things together.</dd><br>
<dd>2. control; wield</dd><br>
<dd>자기 마음대로 세력을 부리다.</dd><br>
<dd>To wield one's power as one likes.</dd><br>
<dd>3. spread; prevail</dd><br>
<dd>경향이나 풍조 등이 널리 퍼지다.</dd><br>
<dd>For a trend, tendency, etc., to be spread widely.</dd><br>
<dt><span>&#8227;&nbsp;</span>틀어잡다 [트러잡따]</dt><br>
<dd>1. grasp</dd><br>
<dd>손으로 단단히 움켜잡다.</dd><br>
<dd>To hold something in one’s hand tightly.</dd><br>
<dd>2. control</dd><br>
<dd>상대방이 자신의 뜻대로 움직이도록 만들다.</dd><br>
<dd>To make someone do as one wants him/her to do.</dd><br>
<dt><span>&#8227;&nbsp;</span>통제하다 [통ː제하다]</dt><br>
<dd>1. control; restrict</dd><br>
<dd>어떤 방침이나 목적에 따라 행위를 하지 못하게 막다.</dd><br>
<dd>To prohibit someone from doing something, due to a certain policy or purpose.</dd><br>
<dd>2. control; regulate</dd><br>
<dd>권력이나 힘으로 언론이나 경제 활동 등을 하지 못하게 막다.</dd><br>
<dd>To obstruct the press or economic activity, etc., using power or force.</dd><br>
<dt><span>&#8227;&nbsp;</span>컨트롤하다 []</dt><br>
<dd>1. control</dd><br>
<dd>자기 뜻대로 다루거나 조절하다.</dd><br>
<dd>To handle or adjust something as one likes.</dd><br>
<dd>2. control</dd><br>
<dd>야구에서, 투수가 원하는 대로 공을 던지다.</dd><br>
<dd>In baseball, to throw a ball as a pitcher likes.</dd><br>
<dt><span>&#8227;&nbsp;</span>참다 [참ː따]</dt><br>
<dd>1. endure; withstand; fight back; be patient</dd><br>
<dd>웃음, 눈물, 아픔, 기침 등과 같은 생리적인 현상을 억누르고 견디다.</dd><br>
<dd>To suppress and endure physiological phenomena such as laughter, crying, pain, coughing, etc.</dd><br>
<dd>2. suppress; control</dd><br>
<dd>슬픔, 무서움, 화 등의 감정을 억누르고 다스리다.</dd><br>
<dd>To suppress and control emotions such as sadness, fear, anger, etc.</dd><br>
<dd>3. endure; withstand</dd><br>
<dd>힘들고 어려운 일을 잘 버티어 내다.</dd><br>
<dd>To endure hardships and difficulties.</dd><br>
<dd>4. wait</dd><br>
<dd>어떤 시간 동안을 견디고 기다리다.</dd><br>
<dd>To endure and wait for a certain time.</dd><br>
<dt><span>&#8227;&nbsp;</span>주체하다 [주체하다]</dt><br>
<dd>control; hold back</dd><br>
<dd>부담스럽거나 귀찮은 것을 잘 처리하다.</dd><br>
<dd>To handle well something that is burdensome or cumbersome.</dd><br>
<dt><span>&#8227;&nbsp;</span>주무르다 [주무르다]</dt><br>
<dd>1. knead; massage</dd><br>
<dd>손으로 어떤 물건이나 몸을 쥐었다 놓았다 하면서 자꾸 만지다.</dd><br>
<dd>To keep touching a thing or body part with one's hand by repeating the act of grabbing and releasing.</dd><br>
<dd>2. rub</dd><br>
<dd>빨래를 빨기 위해 손으로 비비거나 쥐어짜다.</dd><br>
<dd>To rub or squeeze clothes with one's hands to wash them.</dd><br>
<dd>3. control</dd><br>
<dd>다른 사람이나 일 등을 제 마음대로 다루거나 놀리다.</dd><br>
<dd>To handle or control another person, work, etc., as one pleases.</dd><br>
<dt><span>&#8227;&nbsp;</span>조종하다 [조종하다]</dt><br>
<dd>1. operate; drive; fly</dd><br>
<dd>비행기나 배 같은 기계를 다루어 움직이게 하다.</dd><br>
<dd>To handle a machine such as an airplane, ship, etc., to make it move.</dd><br>
<dd>2. mastermind; control</dd><br>
<dd>남을 자기 마음대로 다루어 부리다.</dd><br>
<dd>To handle and sway others at will.</dd><br>
<dt><span>&#8227;&nbsp;</span>조절하다 [조절하다]</dt><br>
<dd>control</dd><br>
<dd>균형에 맞게 바로잡거나 상황에 알맞게 맞추다.</dd><br>
<dd>To correct to a balanced state or adjust to the circumstances.</dd><br>
<dt><span>&#8227;&nbsp;</span>제어하다 [제ː어하다]</dt><br>
<dd>1. control</dd><br>
<dd>상대를 눌러 자기 마음대로 하다.</dd><br>
<dd>To get one's way by subduing the other person.</dd><br>
<dd>2. control</dd><br>
<dd>감정이나 생각을 막거나 누르다.</dd><br>
<dd>To suppress or restrain one's emotions or thoughts.</dd><br>
<dd>3. control</dd><br>
<dd>기계나 시설, 체계 등이 알맞게 움직이도록 조절하다.</dd><br>
<dd>To adjust a machine, facility, system, etc., in order to make it work properly.</dd><br>
<dt><span>&#8227;&nbsp;</span>예속시키다 [예ː속씨키다]</dt><br>
<dd>subjugate; control</dd><br>
<dd>힘이 강한 대상의 지배 아래 매이게 하다.</dd><br>
<dd>To make something or somebody controlled and bound by a powerful entity.</dd><br>
<dt><span>&#8227;&nbsp;</span>억제하다 [억쩨하다]</dt><br>
<dd>1. suppress; control; repress</dd><br>
<dd>감정이나 욕망, 충동적 행동 등을 내리눌러서 일어나지 못하게 하다.</dd><br>
<dd>To suppress feelings, desires, impulses, etc., to stop them from occurring.</dd><br>
<dd>2. control; restrain; suppress</dd><br>
<dd>정도나 한도를 넘어서 나아가려는 것을 억눌러 멈추게 하다.</dd><br>
<dd>To suppress something to stop it from exceeding a level or limit.</dd><br>
<dt><span>&#8227;&nbsp;</span>억누르다 [엉누르다]</dt><br>
<dd>1. suppress; control; contain</dd><br>
<dd>어떤 감정이나 심리 현상 등이 일어나거나 나타나지 않도록 스스로 참다.</dd><br>
<dd>To contain oneself to stop certain feelings, psychological phenomena, etc., from occurring or appearing.</dd><br>
<dd>2. suppress; oppress</dd><br>
<dd>자유롭게 행동하지 못하게 압력을 가하다.</dd><br>
<dd>To pressure someone into not acting freely.</dd><br>
<dt><span>&#8227;&nbsp;</span>손대다 [손대다]</dt><br>
<dd>1. touch; make physical contact; lay one's hands on</dd><br>
<dd>손으로 만지거나 건드리다.</dd><br>
<dd>To feel something with one's hand.</dd><br>
<dd>2. set about; put one's hand to</dd><br>
<dd>어떤 일을 시작하다.</dd><br>
<dd>To start something.</dd><br>
<dd>3. touch; sport with</dd><br>
<dd>성적인 행동을 하다.</dd><br>
<dd>To do a sexual act.</dd><br>
<dd>4. hit; give a blow; strike</dd><br>
<dd>남을 때리다.</dd><br>
<dd>To beat someone.</dd><br>
<dd>5. amend; refine; touch up</dd><br>
<dd>고치거나 매만지다.</dd><br>
<dd>To revise or polish.</dd><br>
<dd>6. put one's hands on; touch</dd><br>
<dd>남의 재물을 훔치거나 불법으로 사용하다.</dd><br>
<dd>To steal or illegally use someone's property.</dd><br>
<dd>7. touch; have a finger in</dd><br>
<dd>좋지 않은 일에 관여하다.</dd><br>
<dd>To get involved in something bad.</dd><br>
<dd>8. control; deal with</dd><br>
<dd>마음대로 다스리거나 처리하다.</dd><br>
<dd>To handle or manage someone or something at one's will.</dd><br>
<dd>9. eat; touch</dd><br>
<dd>음식을 먹다.</dd><br>
<dd>To eat food.</dd><br>
<dt><span>&#8227;&nbsp;</span>부리다 [부리다]</dt><br>
<dd>1. work; handle</dd><br>
<dd>사람이나 짐승을 자기 마음대로 시켜서 일을 하게 하다.</dd><br>
<dd>To make a person or animal work at one's beck and call.</dd><br>
<dd>2. control; operate</dd><br>
<dd>기계나 기구 등을 마음대로 다루다.</dd><br>
<dd>To handle a machine, device, etc., at will.</dd><br>
<dd>3. manipulate</dd><br>
<dd>귀신이나 요괴 등을 불러 자기 마음대로 움직이게 하다.</dd><br>
<dd>To summon a ghost, demon, etc., and make it move as one wants.</dd><br>
<dd>4. unload</dd><br>
<dd>등에 지거나 차에 실었던 것을 내려놓다.</dd><br>
<dd>To discharge a load from one's back or a vehicle.</dd><br>
<dt><span>&#8227;&nbsp;</span>뒤흔들다 [뒤흔들다]</dt><br>
<dd>1. shake hard; convulse</dd><br>
<dd>함부로 마구 흔들다.</dd><br>
<dd>To shake someone or something violently and recklessly.</dd><br>
<dd>2. stir; shake up; jolt</dd><br>
<dd>큰 영향을 끼치다.</dd><br>
<dd>To affect something or someone greatly.</dd><br>
<dd>3. shake; control</dd><br>
<dd>누구에게도 방해를 받지 않고 자기 뜻대로 하다.</dd><br>
<dd>To behave as one wants, without being interrupted by anyone.</dd><br>
<dt><span>&#8227;&nbsp;</span>다잡다 [다잡따]</dt><br>
<dd>1. grab; hold</dd><br>
<dd>무엇을 단단히 잡다.</dd><br>
<dd>To grab something tightly.</dd><br>
<dd>2. calm down; soothe</dd><br>
<dd>들뜨거나 어지러운 마음을 가라앉혀 바로잡다.</dd><br>
<dd>To compose one's excited or confused mind and straighten up.</dd><br>
<dd>3. control; regulate</dd><br>
<dd>엄하게 통제하거나 단단히 단속하다.</dd><br>
<dd>To control in a strict manner or regulate something rigidly.</dd><br>
<dd>4. reveal; disclose</dd><br>
<dd>어떤 사실을 꼭 집어 말하다.</dd><br>
<dd>To pick on a fact and disclose it.</dd><br>
<dt><span>&#8227;&nbsp;</span>누르다 [누ː르다]</dt><br>
<dd>1. press; push</dd><br>
<dd>물체의 전체나 부분에 대하여 위에서 아래로 힘을 주어 무게를 가하다.</dd><br>
<dd>To apply one's weight to the whole or a part of an object by applying force from top to bottom.</dd><br>
<dd>2. repress; suppress</dd><br>
<dd>남이 마음대로 행동하지 못하도록 억압하다.</dd><br>
<dd>To control someone so that he/she cannot behave freely.</dd><br>
<dd>3. repress; control</dd><br>
<dd>자신의 감정이나 생각을 밖으로 드러내지 않고 참다.</dd><br>
<dd>To suppress one's feeling or thought, not revealing it.</dd><br>
<dd>4. beat</dd><br>
<dd>경기나 대회 등에서 상대방을 이기다.</dd><br>
<dd>To defeat the opposite party in a competition, game, etc.</dd><br>
<dd>5. make</dd><br>
<dd>국수틀로 국수를 뽑다.</dd><br>
<dd>To produce noodle from a noodle-making machine.</dd><br>
<dd>6. stay</dd><br>
<dd>계속 머물다.</dd><br>
<dd>To stay continuously.</dd><br>
<dt><span>&#8227;&nbsp;</span>내두르다 [내ː두르다]</dt><br>
<dd>1. wave; swing; wield</dd><br>
<dd>이리저리 마구 휘두르다.</dd><br>
<dd>To swing or shake something randomly and recklessly.</dd><br>
<dd>2. control; dominate</dd><br>
<dd>다른 사람을 자기 뜻대로 움직이게 하다.</dd><br>
<dd>To make someone do what one wants him/her to do.</dd><br>
<dt><span>&#8227;&nbsp;</span>가누다 [가누다]</dt><br>
<dd>1. keep oneself steady</dd><br>
<dd>몸이나 몸의 일부를 바르게 하다.</dd><br>
<dd>To keep one's body or part of the body steady.</dd><br>
<dd>2. gather one's senses</dd><br>
<dd>정신이나 기운, 숨결 등을 가다듬어 되찾다.</dd><br>
<dd>To calm oneself down and recover his/her senses.</dd><br>
<dd>3. handle</dd><br>
<dd>일을 살펴 잘 처리하다.</dd><br>
<dd>To take good care of one's matters.</dd><br>
<dd>4. control</dd><br>
<dd>말이나 행동, 감정 등을 가다듬어 바르게 하다.</dd><br>
<dd>To control one's words, actions, emotions, etc.</dd><br>
</li>
</ul>